#Board {
  enable-background: new -389 151 500 500;
}

.black { fill: black }
.white { fill: white }

.player0 {
  fill: red;
}

.player1 {
  fill: blue;
}

.none {
  fill: transparent;
}

#underlines {
  fill: white;
}
