#Board {
  enable-background: new -389 151 500 500;
}

.black { fill: black }
.white { fill: white }

.player0 {
  fill: rgb(0, 188, 212);
}

.player1 {
  fill: rgb(255, 64, 129);
}

.none {
  fill: transparent;
}

#underlines {
  fill: white;
}
